.floating-chat-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
    z-index: var(--z-fixed);
    transition: .3s;
    cursor: pointer;
}

.floating-chat-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transform: translateY(-0.25rem);
}

@media screen and (max-width: 768px) {
    .floating-chat-btn {
        bottom: 5rem;
        right: 1rem;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }
}